@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container w-50 mt-4 shadow p-4">
    <div>
        <h2 class="text-center">Login</h2>
        <form asp-action="Login" method="post">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text text-dark-emphasis">
                    We'll never share your email with anyone else.
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

           @*  <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input">
                <label class="form-check-label" asp-for="RememberMe">Keep me Logged In</label>
            </div> *@

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <!-- Register link -->
        <div class="text-center mt-3">
            <span>Not a member? </span>
            <a asp-controller="Account" asp-action="Register" class="fw-bold text-decoration-none">
                Register
            </a>
        </div>
    </div>
</div>
