@model MarketPlace.Data.Entities.Product

@{
    ViewData["Title"] = "Purchase Product";
}

<h2>@Model.Name</h2>

<p>Price: @Model.Price</p>
<p>Status: @Model.Status</p>

<form asp-action="Purchase" method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    <button type="submit" class="btn btn-success mt-2">Buy</button>
</form>
